.container{
    width: 100%;
    height: 100%;
    /* background-color: cadetblue; */
    position: relative;
    text-align: center ;
}

.first{
    position: relative;
    width: 50%;
    height: 70%;
    background-color: rgb(164, 172, 175);
    border-radius: 5px;
}